{% set block      = block ?? null %}

{% set blockID    = block ? block.type.handle ~ '-' ~ block.id : '' %}
{% set blockID    = block.anchor ?? blockID %}
{% set blockID    = blockID|kebab|ascii|replace({'#': ''}) %}

{% set position   = position ?? ''    %}
{% set class      = class    ?? ''    %}

{% set first      = first    ?? false %}
{% set last       = last     ?? false %}

{% set blockType  = blockType ?? block.type.handle  ?? '' %}
{% set layout     = layout ?? block.layout          ?? '' %}
{% set edges      = edges ?? block.edges            ?? '' %}
{% set background = background ?? block.background  ?? '' %}

<div
    class="
      c-block
      c-block--{{blockType}}
      position--{{position}}
      layout--{{layout}}
      edges--{{edges}}
      bg--{{background}}
      {{class}}
      {% if first %}alpha{% endif %}
      {% if last  %}omega{% endif %}
    "
    v-waypoint="{ active: true, callback: onWaypoint, options: intersectionOptions }"
    
    {% if blockID %}
        id="{{blockID}}"
        data-toc="toc-{{blockID}}"
    {% endif %}
    
    >

    {% block body %}{% endblock %}

    {{ sprig('_blocks/_meta', {
        'blockType': block.type.name ?? '',
        'layout'   : block.layout.label ?? '',
        'edges'    : block.edges.label   ?? '',
        'bg'       : block.background.label ?? '',
        'blockId'  : block.id ?? '',
        'entryId'  : entry.id ?? '',
        'section'  : entry.section.handle ?? ''
    }, {'s-trigger': 'load'}) }}
</div>