{% set blockID  = block.type.handle ~ '-' ~ block.id %}
{% set blockID  = block.anchor ?? blockID %}
{% set blockID  = blockID|kebab|ascii|replace({'#': ''}) %}
{% set cssClass = class is defined ? class : '' %}

<div
    class="c-block c-block--{{block.type.handle}} layout--{{block.layout}} edges--{{block.edges}} bg--{{block.background}} {{cssClass}} {% if loop.first %}alpha{% endif %} {% if loop.last %}omega{% endif %}"
    v-waypoint="{ active: true, callback: onWaypoint, options: intersectionOptions }"
    {% if blockID %}
        id="{{blockID}}"
        data-toc="toc-{{blockID}}"
    {% endif %}
    >
    {% block body %}{% endblock %}

    {{ sprig('_blocks/_meta', {
        'blockType': block.type.name ?? '',
        'layout'   : block.layout.label ?? '',
        'edges'    : block.edges.label   ?? '',
        'bg'       : block.background.label ?? '',
        'blockId'  : block.id ?? '',
        'entryId'  : entry.id ?? '',
        'section'  : entry.section.handle
    }, {'s-trigger': 'load'}) }}
</div>
