{% if currentUser and currentUser.showBlockMeta %}
    <div class="flex align-center justify-center font-sans mt-6">
        <span class="text-xl font-bold -translate-y-4">↑</span>

        <div class="flex align-center bg-stone-900 text-white border border-white">
            <div class="flex flex-col-reverse border-stone-500 border-l">
                <strong class="text-xs uppercase block p-1 px-3 pr-5 bg-stone-700 text-stone-200">Block Type</strong>
                <span class="p-1 px-3 text-xl text-white font-bold">{{blockType}}</span>
            </div>

            <div class="flex flex-col-reverse border-stone-500 border-l">
                <strong class="text-xs uppercase block p-1 px-3 pr-5 bg-stone-700 text-stone-200">Layout</strong>
                <span class="p-1 px-3 text-xl text-white font-bold">{{layout ? layout : '&nbsp;'}}</span>
            </div>
            
            <div class="flex flex-col-reverse border-stone-500 border-l">
                <strong class="text-xs uppercase block p-1 px-3 pr-5 bg-stone-700 text-stone-200">Background</strong>
                <span class="p-1 px-3 text-xl text-white font-bold">{{bg ? bg : '&nbsp;'}}</span>
            </div>
            
            <div class="flex flex-col-reverse border-stone-500 border-l">
                <strong class="text-xs uppercase block p-1 px-3 pr-5 bg-stone-700 text-stone-200">Edges</strong>
                <span class="p-1 px-3 text-xl text-white font-bold">{{edges ? edges : '&nbsp;'}}</span>
            </div>
            {# <div><a href="/admin/entries/{{section}}/{{entryId}}/#{{blockId}}">Edit</a></div> #}
        </div>
        <span class="text-xl font-bold -translate-y-4">↑</span>
    </div>
{% endif %}