{% extends '_blocks/_layout.twig' %}

{% block body %}
    <div class="block-content container">

        {% set headlineClass = block.text ? 'mb-8' : 'mb-16' %}
        {% set proseClass    = 'mb-12 lg:prose-xl' %}

        {% include '_blocks/_partials/headline.twig' with {
            class: headlineClass
        } %}

        {% include '_blocks/_partials/prose.twig' with {
            class: proseClass
        } %}

        {% set cols = block.features|length >= 4 ? 4 : block.features|length %}

        {% set imageWidth = 'mb-8' %}
        {% set textWidth  = '' %}
        {% set gridClass  = 'grid gap-12 grid-cols-' ~ cols ~ ' mt-8' %}

        {% set wrapper = block.layout == 'horizontal' ? 'flex-col' : 'flex-row items-center' %}
        {% if 'vertical' in block.layout.value %}
            {% set cols = 1 %}
            {% set imageWidth = 'w-1/5' %}
            {% set textWidth  = 'w-4/5 pl-8' %}
            {% set gridClass  = 'grid gap-8 grid-cols-1' %}
        {% endif %}

        {% if block.layout == 'grid' %}
            {% set gridClass  = 'grid gap-8 grid-cols-2' %}
            {% set imageWidth = 'w-1/5 pt-1' %}
            {% set textWidth  = 'w-4/5 pl-4' %}
            {% set wrapper    = 'flex-row' %}
        {% endif %}

        <div class="{{gridClass}}">
            {% set index = 1 %}
            {% for row in block.features.all() %}
                {% if block.layout == 'verticalAlternating' %}
                    {% set wrapper   = cycle(['flex-row-reverse items-center', 'flex-row items-center'], loop.index0) %}
                    {% set textWidth = cycle(['w-4/5 pr-4', 'w-4/5 pl-4'], loop.index0) %}
                {% endif %}

                <div class="flex {{wrapper}}">
                    <div class="text-center {{imageWidth}}">
                        {% if row.icon.one() %}
                            <img src="{{row.icon.one().url}}" alt="{{row.icon.one().title}}">
                        {% endif %}
                    </div>

                    <div class="{{textWidth}}">
                        {% if row.headline %}
                            {% if block.layout.value == 'grid' %}
                                <h3 class="mb-0">{{row.headline}}</h3>
                            {% else %}
                                <h3 class="mb-4">{{row.headline}}</h3>
                            {% endif %}
                        {% endif %}
                        
                        {% include '_blocks/_partials/prose.twig' with {
                            text: row.text,
                            class: 'prose'
                        } %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block tailwind %}
    {#-- these don't show up anywhere, but the tailwind JIT compiler finds them -- #}
    <div class="grid-cols-1"></div>
    <div class="grid-cols-2"></div>
    <div class="grid-cols-3"></div>
    <div class="grid-cols-4"></div>
{% endblock %}

{% block js %}{% endblock %}