{% extends '_blocks/_layout.twig' %}

{% block body %}
    <div class="block-content container">

        {% include '_blocks/_partials/headline.twig' %}
        {% include '_blocks/_partials/redactor-text.twig' %}

        <div class="wrapper">
            {% for row in block.icons.all() %}
                <div class="icon">
                    <div class="image">
                        {% if row.icon.one() %}
                            <img src="{{row.icon.one().url}}" alt="{{row.icon.one().title}}">
                        {% endif %}
                    </div>

                    <div class="text">
                        {% if row.headline %}<h3>{{row.headline}}</h3>{% endif %}
                        {{row.text}}
                    </div>

                    {% if row.button %}
                        {{ row.button.getLink({ class: 'button' }) }}
                    {% endif %}
                </div>           
            {% endfor %}
        </div>

        {% include '_blocks/_partials/buttons.twig' %}
    </div>
{% endblock %}

{% block js %}{% endblock %}