{% extends '_blocks/_layout.twig' %}

{% block body %}
    <div class="block-content container">
        
        {% include '_blocks/_partials/eyebrow.twig' %}
        {% include '_blocks/_partials/prose.twig' %}
        
        <div class="tabs mt-8">
            <div class="flex justify-center items-center">
                <div class="border-gray-200 border-l border-r flex justify-center items-center">
                    {% for row in block.items.all() %}
                        {% set rowHeadline = row.headline|striptags('<strong><b>')|nl2br %}
                        {% set rowHashtag  = row.headline|striptags('<strong><b>')|kebab|ascii %}
                        <div>
                            <a
                                id="tabs{{row.id}}"    
                                href="#{{rowHashtag}}"
                                @click.prevent="openTab({{row.id}}, '{{rowHashtag}}', {{block.id}})"
                                class="tab__selector block{{block.id}} {% if loop.first %}active{% endif %}
                                relative text-2xl block p-4 b-0 no-underline text-black hover:text-blue-600 focus:text-blue-600 border-gray-200 border-l border-r"
                                style="font-family: var(--headline);"
                                >{{rowHeadline}}</a>
                        </div>
                    {% endfor %}
                </div>
            </div>

            <div class="border-t-4 border-b-4 border-black">
                {% for row in block.items.all() %}
                    <div class="tab__content overflow-hidden bg-gray-200 block{{block.id}}" id="tabc{{row.id}}" {% if not loop.first %}style="display:none;"{% endif %}>
                        <div class="flex p-16">
                            {% if row.text %}
                                <div class="inner w-2/3 pr-16">
                                    {% include '_blocks/_partials/prose.twig' with {
                                        text: row.text,
                                        class: 'prose-xl'
                                    } %}
                                </div>
                            {% endif %}

                            <div class="image w-1/3">
                                <div>
                                    {% include '_blocks/_partials/image.twig' with {
                                        image: row.image.one()
                                    } %}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}