{% extends "_layouts/generic-page-layout.twig" %}

{% block content %}
    <div
        role="main"    
        class="{{entry.section.handle}} {{entry.section.handle}}--{{entry.type.handle}}"
    >
        <div class="header" role="heading" aria-level="1">
            {% if entry.heroBlock.one() %}
                {% include '_blocks/_loop.twig' with {
                    'position': 'hero',
                    'blocks'  : entry.heroBlock,
                    'entry'   : entry,
                } %}

                {% include '_partials/breadcrumb.twig' %}
            {% else %}
                <div class="container pt-12">
                    {% include '_partials/breadcrumb.twig' %}

                    {% include '_blocks/_partials/headline-h1.twig' with {
                        headline: entry.title,
                        class: 'mb-4'
                    } %}
                    <time datetime="{{ entry.postDate | date('Y-m-d') }}">{{ entry.postDate | date('F jS, Y') }}</time>
                    
                    {% include '_blocks/_partials/prose.twig' with {
                        text: entry.dek,
                        class: 'prose-2xl'
                    } %}
                </div>
            {% endif %}
        </div>

        <div class="body">
            {% include '_blocks/_loop.twig' with {
                'position': 'content',
                'blocks'  : entry.contentBlocks,
                'entry'   : entry,
            } %}

            {{ include('_blocks/_fragment', {
                'fragmentID': 6239

            })}}
        </div>
    </div>
{% endblock %}

{% block subcontent %}
    {% include '_partials/above-footer.twig' %}
{% endblock %}