{% extends "_layouts/generic-page-layout.twig" %}

{% block content %}

    {% include '_partials/breadcrumb.twig' %}

    <div class="news--single news--{{entry.id}}">
        <div class="container">
            <h1>{{entry.title}}</h1>

            <div class="summary">
                {{entry.summary}}   
            </div>
            
            <time datetime="{{ entry.postDate | date('Y-m-d') }}">{{ entry.postDate | date('F jS, Y') }}</time>
        </div>

        {% include '_blocks/_loop.twig' with { 'blocks': entry.contentBlocks } %}

    </div>
{% endblock %}

{% block subcontent %}
    {% include '_partials/above-footer.twig' %}
{% endblock %}