{% set tag = titleTag is defined and titleTag ? titleTag : 'h2' %}
<article class="tease news">
    <{{tag}}>
        {{entry.title}}
    </{{tag}}>

    <time datetime="{{ entry.postDate | date('Y-m-d') }}">{{ entry.postDate | date('d M Y') }}</time>
              
    <div class="summary">
        {% set summary = summary is defined and summary ? '<p>' ~ summary ~ '</p>' : '' %}
        {{ summary
            ? summary| raw| retconChange( 'b', 'mark' )
            : entry.summary
        }}
    </div>

    <a href="{{ entry.url }}">Read more</a>
</article>
