<div
    class="c-block c-block--{{block.type.handle}} {{block.layout}} {{block.spacing}} {{block.background}}"
    v-waypoint="{ active: true, callback: onWaypoint, options: intersectionOptions }"
    id="{{block.type.handle}}-{{block.id}}">
    {% block blockBody %}{% endblock %}
</div>