{% set htag    = htag    ??? 'h2' %}
{% set title   = title   ??? entry.title ??? entry.headline ??? null %}
{% set text    = text    ??? entry.summary ??? entry.dek ??? entry.text ??? null %}
{% set url     = url     ??? entry.url ??? null %}
{% set handle  = handle  ??? entry.section.handle ??? null %}
{% set images  = images  ??? entry.images.all() ??? null %}

<article class="tease {{handle}} relative">
    <div class="flex flex-row items-center">
        <div class="bg-gray-200 aspect-video max-w-sm h-48 xl:h-56 mr-16">
            &nbsp;
        </div>

        <div>
            {% block title %}
                {%- if title -%}
                    <{{htag}} class="lg">{{title}}</{{htag}}>
                {%- endif -%}
            {% endblock %}

            {% block aboveSummary %}{% endblock %}

            {% block summary %}
                {{ include('_components/text/prose', {
                    text: craft.typogrify.truncate(text, 200),
                }) }}
            {% endblock %}

            {% block link %}
                {%- if url -%}
                    <a class="self-end mt-2 clickable-parent block" href="{{ url }}">Read more →</a>
                {% endif %}
            {% endblock %}
        </div>
    </div>
</article>