{% set size     = size ?? 'normal' %}
{% set headline = entry.hero_headline ?? entry.title %}
<div class="c-hero {{size}}">
    {% if entry.hero_backgroundImage and entry.hero_backgroundImage.one() %}
        <div class="image">
            <picture>
                <img src="{{entry.hero_backgroundImage.one().url}}" loading="lazy" alt="{{entry.hero_backgroundImage.one().title}}">
            </picture>
        </div>
    {% endif %}
    <div class="container">
        <div class="text">
	    <h1>{{headline}}</h1>
	    <p>{{entry.hero_introCopy}}</p>

            {% if entry.hero_buttons|length %}
                <div class="button-wrapper">
                    {% for rec in entry.hero_buttons.all() %}
                        {{ rec.button.getLink({ class: 'button' }) }}
                    {% endfor %}
                </div>
            {% endif %}
	</div>
    </div>
</div>
