<div class="c-hero {{size|default('normal')}}">
    {% if image %}
        <div class="image">
            <picture>
                {# <source type="image/webp" media="(max-width: 560px)" srcset="https://res.cloudinary.com/cvca/image/fetch/w_560,h_560,c_thumb,f_webp/{{ alias('@cdnBaseUrl') }}{{heroImage}}">
                <source type="image/jpeg" media="(max-width: 560px)" srcset="https://res.cloudinary.com/cvca/image/fetch/w_560,h_560,c_thumb/{{ alias('@cdnBaseUrl') }}{{heroImage}}">

                <source type="image/webp" media="(max-width: 760px)" srcset="https://res.cloudinary.com/cvca/image/fetch/w_800,h_600,c_thumb,f_webp/{{ alias('@cdnBaseUrl') }}{{heroImage}}">
                <source type="image/jpeg" media="(max-width: 760px)" srcset="https://res.cloudinary.com/cvca/image/fetch/w_800,h_600,c_thumb/{{ alias('@cdnBaseUrl') }}{{heroImage}}">

                <source type="image/webp" media="(max-width: 1024px)" srcset="https://res.cloudinary.com/cvca/image/fetch/w_1000,h_340,c_thumb,f_webp/{{ alias('@cdnBaseUrl') }}{{heroImage}}">
                <source type="image/jpeg" media="(max-width: 1024px)" srcset="https://res.cloudinary.com/cvca/image/fetch/w_1000,h_340,c_thumb/{{ alias('@cdnBaseUrl') }}{{heroImage}}">

                <source type="image/webp" srcset="https://res.cloudinary.com/cvca/image/fetch/w_1600,h_430,c_thumb,f_webp/{{ alias('@cdnBaseUrl') }}{{heroImage}}">
                <source type="image/jpeg" srcset="https://res.cloudinary.com/cvca/image/fetch/w_1600,h_430,c_thumb/{{ alias('@cdnBaseUrl') }}{{heroImage}}"> #}
                <img src="{{image}}" loading="lazy" alt="{{title}}">
            </picture>
        </div>
    {% endif %}
    <div class="text">
        <h1>{{title}}</h1>
    </div>
</div>